body {

    background: linear-gradient(#e66465, #9198e5);

}


.arnold {
    text-align: center;
}

.chicken {
    text-align: center;
}


.button {
    background-color: white; /* Green */
    color: black;
    cursor: pointer;
    padding: 3px 6px;
    text-align: center;
    font-size: 16px;
    border-radius: 15px;
    box-shadow: 5px 10px;
  }

.button:hover {
    background-color: antiquewhite; 
}

.button:active {
    background-color: antiquewhite;
    box-shadow: 5px 10px;
    transform: translateY(5px);
}

.nav-bar {

    display: flex;
    justify-content: center;
    gap: 10rem;
    background-color: #e66465;
    border: 5px solid  blanchedalmond;
    border-radius: 30px;
    flex-wrap: wrap;

}
